<% unless comment.archived? %>
  <div class="comment">
    <p>
      <strong><%= comment.commenter %>:</strong>
    </p>
    <p>
      <%= comment.body %><br><br>
      <span><%= comment.created_at %></span>
    </p>
    
  </div>
<% end %>

<p>
<%=  link_to 'Delete Comment', article_comment_path(comment.article, comment), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>